# top-level EditorConfig
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Indentation par défaut (web)
indent_style = space
indent_size = 2
max_line_length = 100

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.yml]
indent_size = 2

[*.json]
indent_size = 2

[*.jsonc]
indent_size = 2

[*.scss]
indent_size = 2

[*.css]
indent_size = 2

[*.html]
indent_size = 2

# PHP : 4 espaces, pas de wrap automatique
[*.php]
indent_style = space
indent_size = 4

# Makefile doit rester en tabs
[Makefile]
indent_style = tab
